page-welcome {
    #welcome{
        background: color($colors, backcolor);
        h1{
            font-size: 40px;
            margin-top: 50px;
            text-align: center;
        }
        .marginTop{
            margin-top:150px;
        }
        .logo{
            height: 236px;
            margin-left: 29px;
        }
    }
    }